[phases.setup]
nixPkgs = ["php82", "php82Packages.composer", "nodejs_20"]

[phases.install]
cmds = [
  "npm ci"
]

[phases.build]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm run build"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"
