.product-detail {
    padding-top: 100px ;
    /* margin-top: 100px; */
}

.text-muted {
    color: #ff0000 !important;
}
.product-detail-hero {
    padding: 60px 0;
    background-color: #f8f9fa;
  }
  .product-gallery {
    margin-bottom: 30px;
  }
  .product-thumbnails {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    padding: 0;
    flex-wrap: wrap;
}

.product-thumbnails .col-md-4,
.product-thumbnails .col-3 {
    padding: 0; /* Hilangkan padding kolom */
    margin: 0; /* Hilangkan margin kolom */
}

.product-thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: none; /* Hilangkan border */
    cursor: pointer;
}
  .product-thumbnails img.active {
    border-color: #007bff;
  }
  .product-info {
    padding: 20px;
  }
  .product-features {
    margin: 40px 0;
  }
  .back-button {
    margin-bottom: 30px;
  }

.thumbnail {
    width: 100%; /* Sesuaikan dengan kolom */
    height: 500px; /* Atur tinggi gambar */
    object-fit: contain; /* Memastikan gambar tidak terdistorsi */
    border-radius: 5px; /* Opsional */
}
